<%= render "shared/errors", obj: @study %>

<table>
    <tr>
        <th><%= form.label :title %></th>
        <td><%= form.text_field :title, :class=>"null_form", :placeholder => "※必須" %></td>
    </tr>

    <tr>
        <th><%= form.label :memo %></th>
        <td><%= form.text_area :memo, rows: 10, cols: 45, :class=>"null_form", :placeholder => "※必須" %></td>
    </tr>
</table>
<% if current_user %>
    <%= form.hidden_field :mine, value: current_user.name%>
<% end %>